html
    head
        title UH-OH! IT LOOKS LIKE THIS PAGE DOES NOT EXIST!
    body
        p We apologize if you were looking for a specific page, but are seeing this error instead. It appears that this page was either deleted by the user, or taken down.
        p Please attempt click the link the button below to be sent to the home page. Happy Snacking!
        button(type="get" href='/questions/new') Return to Home
        h1 404
