extends layout.pug

include utils.pug

append head
    script(src="/javascripts/answers.js" type="module" defer)
block content
        each answer in answers
            tr
                td= answer.body
            div(style={"padding-bottom": "50px;"})
                td= answer.User.userName
            div(style={"padding-bottom": "50px;"})
        button(type="submit") New Answer
