extends layout.pug

include utils.pug
block head
block content
    h2 New Answer
    p Please complete your answer to the question in the text box below, and click submit when you are finished
    form(action="/answers/new", method="post")
        textarea(name="body" type="text" required)
        button(name="Submit Answer" type="submit") Submit Answer
