extends layout.pug

include utils.pug

block content
  h1 Edit your question!
  div
    +validationErrorSummary
  div
  form(action=`/questions/${question.id}/edit` method='POST')
    div
      +field2('Title', 'title', question.title, 'text')
    div
      +textarea('Body', 'body', question.body)
    //- div
    //-   +select('Tags', 'tags', '', '' )
    div
      input(type='submit' value='Submit')
