extends layout.pug

include utils.pug

block styles
  link(rel="stylesheet" href="/stylesheets/question-form.css")
  link(rel='stylesheet' href='/stylesheets/index.css')

block content

  h1 Edit your question!
  div(id='mainContent')
    +validationErrorSummary
  form(id='q-form' action=`/questions/${question.id}/edit` method='POST')
    div(id='title')
      +field2('Title', 'title', question.title, 'text')
    div(id='body')
      +textarea('Body', 'body', question.body)
    div
      input(type='submit' value='Submit')
