html
  head
    title= title
    link(rel='favicon' href='snack-overfleaux.ico' type='image/x-icon')
    link(rel='icon' href='snack-overfleaux.ico' type='image/x-icon')
  block styles
    link(rel='stylesheet' href='/stylesheets/index.css')


  body
    header
      nav(id='top-nav-bar')
        ul.top-bar-container
          li: img(src='images/snack-overfleaux.png' alt='Snack Overfleaux logo' width='32' length='32')
          li: a(href='/')
            | Snack
            bold Overfleaux
          li: form#searchForm(action='/' role='search')
                input#searchInput(type='search' name='term' placeholder='What are you craving?' required)
                button Forage!
          if authenticated
            div(id='nav-buttons')
              li: a(href=`/users/${user.id}`) Profile
              li(class='log-out-link'): a(href='/users/logout') Logout
          else
            div(id='nav-buttons')
              li: a(href='/users/signup') Sign Up!
              li: a(href='/users/login') Login!
            //- li: p Welcome, #{user.userName}!
    div(id='main-container')
      nav(id='left-nav-bar')
        ul.leftNavUl
          a(href='/')
            div
              li Home
          a(href='/questions')
            div
              li Questions
          a(href='/users')
            div
              li Users
          a(href='/developers')
            div
              li Developers
      main(id='main')
        block content
