html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/index.css')
    link(rel='favicon' href='snack-overfleaux.ico' type='image/x-icon')
    link(rel='icon' href='snack-overfleaux.ico' type='image/x-icon')

  body
    header
      nav.top-bar-container
        div
          span
            a(href='/') Snack Overflow
          span
            form(action="/questions")
              input(type='search' name='term' placeholder='What are you craving?' required)
              button Forage!
          span
            if authenticated
              span Welcome, #{user.userName}!
              a(href=`/users/${user.id}`) Profile

              a(href='/users/logout') Logout

            else
              a(href='/users/signup') Sign Up!
              a(href='/users/login') Login!
    main
    block content
