html
  head
    title= title
    link(rel='favicon' href='snack-overfleaux.ico' type='image/x-icon')
    link(rel='icon' href='snack-overfleaux.ico' type='image/x-icon')
  block styles
    link(rel='stylesheet' href='/stylesheets/index.css')


  body
    header
      nav
        ul.top-bar-container
          li: a(href='/')
            | Snack
            bold Overfleaux
          li: form(action='/search' role='search')
                input(type='search' name='term' placeholder='What are you craving?' required)
                button Forage!
          if authenticated
            li: a(href=`/users/${user.id}`) Profile
            li: a(href='/users/logout') Logout
          else
            li: a(href='/users/signup') Sign Up!
            li: a(href='/users/login') Login!
            //- li: p Welcome, #{user.userName}!

    main(id='main')
    block content
