html
  head
    title= title
    link(rel='favicon' href='snack-overfleaux.ico' type='image/x-icon')
    link(rel='icon' href='snack-overfleaux.ico' type='image/x-icon')
  block styles
    link(rel='stylesheet' href='/stylesheets/index.css')


  body(class = 'overall-layout')
    header
      nav(id='top-nav-bar')
        ul.top-bar-container
          li: a(href='/')
            | Snack
            bold Overfleaux
          li: form(action='/search' role='search')
                input(type='search' name='term' placeholder='What are you craving?' required)
                button Forage!
          if authenticated
            li: a(href=`/users/${user.id}`) Profile
            li: a(href='/users/logout') Logout
          else
            li: a(href='/users/signup') Sign Up!
            li: a(href='/users/login') Login!
            //- li: p Welcome, #{user.userName}!

    main(class='main-container')
      div(id='left-nav-sidebar')
        nav(role='navigation')
          ol(class='nav-links')
            li(class='home-nav')
              a(id='nav-home' href='/')
                span  Home
            li(class='questions-nav')
              a(id='nav-questions' href='/questions')
                span Questions
            li(class='users-nav')
              a(id='nav-users' href='/users')
                span Users

      block content
