extends layout.pug

include utils.pug

block styles
    link(rel="stylesheet" href="/stylesheets/user-login.css")
    link(rel='stylesheet' href='/stylesheets/index.css')

block content
    div(id='login-page')
        div(id='login')
            +validationErrorSummary(errors)
            form.user-forms(id='loginForm' action='/users/login' method='POST')
                input(type='hidden' name='_csrf' value=csrfToken)
                +fieldCSS1('Username:', 'userName', userName, 'text')
                +fieldCSS1('Password:', 'password', password, 'password')
                div(id='signUpButtons')
                    button.user-form-button(id="loginButton") Log In!
                    button.user-form-button(id='cancelButton' onclick="location.href='/" type='button') Cancel
                a(href='/users/signup' id='needSignUp') Need to sign up?

            form(action='/users/login' method='POST' id='demoLogin')
                input(type='hidden' name='_csrf' value=csrfToken)
                input(type='hidden' name='userName' value='demoUser')
                input(type='hidden' name='password' value="DemoUserPassword123!")
                button.user-form-button Demo Log In!
