extends layout.pug

include utils.pug

block content
    form(action='/users/login' method='POST')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Username', 'userName', userName, 'text')
        +field('Password', 'password', password, 'password')
        button Log In!
        button: a(href='/') Cancel
        a(href='/users/signup') Need to sign up?
