extends layout.pug

include utils.pug

block styles
    link(rel='stylesheet' href='/stylesheets/index.css')

//- block content
//-     div(id='users-body')
//-         div(id='users-head')
//-             h1(id='usersTitle') Users

        //- ul
        //-     each user in users
        //-         li
        //-             div(class='user-card')

        //-                 div(class='user-card-body')
        //-                     h2: a(href= `/users/${user.id}`) #{user.userName}
        //-                     p User score: #{user.userScore}
        //-                     p Questions asked: #{userQuestions.length}
