extends layout.pug

include utils.pug

block content
  form.user-forms(action='users/logout' method='post')
    div
      p Are you sure you want to logout?
      button.user-form-button Yes, log me out.
      a(href='/') Cancel
