html{
    font-family: sans-serif;
    text-decoration: none;
    width: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
li{
    list-style: none;
}
a{
    color: gray;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
}
h1 {
    color: #555555;
}
.user-forms {
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-field {
    display: flex;
    font-size: 20px;
}
.user-form-button {
    border-radius: 2px;
}

.hidden {
    display: none
}
.top-bar-container {
    /* height: 60px; */
    /* background-color: #ababab; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: fixed;
    padding: 5px;
    margin: 0px;
    width: 94.8%;
    height: 25px;
    overflow: hidden;
    background-color: white;
    z-index: 1;
}
.search-bar {
    width: 250px;
    padding: 4px 20px 3px 5px;
}
#ask-q{
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 3px;
    border: 0px;
    font-size: small;
    color: white;
}
