html{
    font-family: sans-serif;
    text-decoration: none;
}
li{
    list-style: none;
}
a{
    /* text-decoration: none; */
    color: blue;
    font-weight: 400;
    font-size: 1.2rem;
}

h1 {
    color: #555555;
}
.user-forms {
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-field {
    display: flex;
    font-size: 20px;
}
.user-form-button {
    border-radius: 2px;
}

.hidden {
    display: none
}
.top-bar-container {
    height: 60px;
    background-color: #ababab;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    margin: 0px;
}
.search-bar {
    width: 250px;
    padding: 4px 20px 3px 5px;
}
