html{
    font-family: sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: blue;
    font-weight: 400;
    font-size: 1.2rem;
}
#q-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid black 1px;
    justify-self: center;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;

}
#q-head *{
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.a-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    padding: 20px;
    border: solid lightgray .5px;
}
#a-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
}
#a-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.question-body{
    display: flex;
    width: 60%;
    padding: 20px;
    margin-left: 20%;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 17px;
    border: solid black 1px;
    border-radius: 6px;
}

#answerId {
    display: flex;
    justify-content: center;
    font-style: italic;
    justify-self: center;
    margin: 0 auto;
}

#answer {
    border: solid black 1px;
    margin: 0 auto;
}

#answerDate {
    font-style: italic;
    border-bottom: solid black .03px;

}
/* #ask-q{
    height: 15px;
    width:67px;
} */
