html{
    font-family: sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: blue;
    font-weight: 400;
    font-size: 1.2rem;
}

#mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

form #title, form #body{
    display: flex;
    padding: 3px;
    font-size: 15px;
    width: 100%;
}
form #title{
    font-size: 1.5rem;
}
.form-field>textarea{
    width: 100%
}
