h1{
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0;
    padding-top:5px
}
li{
    list-style: none;
}
.a-display, .q-card-body p{
    color: rgb(66, 65, 65)
}
#q-body{
    border-left: 1px solid lightgray;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    top: 10px;
    left: 20px;
    width: 96%;
    height: 100%;
    padding: 10px;


}
#q-head{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;

}

.q-card{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid lightgray;
}

.q-card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
}

.q-card-body h2, .q-card-body p{
    margin: 0px;
    padding: 5px;
    margin-left: 16px;

}
/* #ask-q{
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 3px;
    border: 0px;
} */

h2 a{
    color: blue;
    font-weight: 300;
    font-size: 1rem;
}

#ulId {
    z-index: 0;
}
