h1{
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0;
    padding-top:5px
}
li{
    list-style: none;
}
.a-display{
    color: grey
}
.q-card-body p{
    color: rgb(66, 65, 65)
}
#q-body{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    left: 20px;
    width: 96%;
    height: 100%;
    padding: 10px;
    padding-top: 0px;
    border-left: 2px solid orange;
}
#q-head{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;

}

.q-card{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid lightgray;
}

.q-card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
}

.q-card-body details, .q-card-body p{
    margin: 0px;
    padding: 5px;
    margin-left: 16px;

}
.q-title{
    font-weight: 400;
    font-size: 1.2rem;
    color: blue;
}

h2 a{
    color: blue;
    font-weight: 300;
    font-size: 1rem;
}

#ulId {
    z-index: 0;
}
